<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>MasterCard application</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../lib/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="../lib/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="../lib/js/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="../lib/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../css/app.css">

<!-- Adding Angular JS -->
<script src="../lib/js/angular.min.js"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="../lib/js/ui-bootstrap.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="../lib/js/ui-bootstrap-tpls.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script type='text/javascript' src='../lib/js/d3.v3.min.js'></script>

<script type='text/javascript' src='../lib/js/topojson.v1.min.js'></script>

<script src="../lib/js/planetaryjs.min.js"></script>

<script src='../lib/js/require.min.js' data-main='../controllers/globe.js'></script>

</head>
<body ng-app="masterCardApp">

<canvas id='rotatingGlobe' width='400' height='400'
  style='width: 400px; height: 400px; cursor: move;'></canvas>


</body>
</html>